ffmpeg-python
flask
flask-restx
flask-cors
SoccerNet 
python-dotenv
tensorflow-cpu==2.10.0
tensorflow_hub
tensorflow_datasets
opencv-python
moviepy
ipykernel
opencv-python
scikit-learn
tensorflow-directml-plugin